<div style="text-align:center;padding:70px 40px 80px 40px;line-height:0px;">
  <%= link_to products_digital_popups_path do %>
    <img src="https://www.reservebar.com/spree/uploads/2639/original/Stoli_ShopNow.png?1449528663" alt="Shop Now">
  <% end %>
</div>
