<div style="vertical-align:top;padding:0;margin:0;width:100%;line-height:0px;">
  <img src="https://www.reservebar.com/spree/uploads/2300/original/Macallan_banner_firstPage.jpg?1442471375" alt="Experience The Macallan Single Malt Scotch Whisky">
</div>

<div style="background-color:#181818;background:-webkit-linear-gradient(#181818, #5e5e5e);background:-moz-linear-gradient(#181818, #5e5e5e);background:linear-gradient(#181818, #5e5e5e);text-align:center;padding:70px 0px 80px 0px;">
  <div style="max-width:810px;margin-left:auto;margin-right:auto;">
    <p style="font-family:Helvetica,Arial,sans-serif;color:#c4af74;font-weight:normal;font-size:50px;line-height:60px;">
      EXPERIENCE THE MACALLAN SINGLE MALT SCOTCH WHISKY
    </p>
  </div>
  <div style="padding-top:65px;">
    <%= link_to products_digital_popups_path do %>
      <img src="https://www.reservebar.com/spree/uploads/2302/original/Macallan_btnShopNow.png?1442471408" alt="Shop Now">
    <% end %>
  </div>
</div>
