<div style="text-align:center;padding:75px 5px 0px 5px;margin-left:auto;margin-right:auto;">
  <h1 style="font-family:Helvetica,Arial,sans-serif;color:#e8d089;font-weight:normal;font-size:48px;line-height:60px;">EXPERIENCE RÉMY MARTIN COGNACS</h1>
</div>

<div style="text-align:center;padding:70px 40px 80px 40px;line-height:0px;">
  <%= link_to products_digital_popups_path do %>
    <img src="https://www.reservebar.com/spree/uploads/2244/original/firstPage_03.png?1441261330" alt="Shop Now">
  <% end %>
</div>
