@font-face {
  font-family: 'RemyMartin';
  src: font-url('rmsanreg.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'RemyMartin';
  src: font-url('rmsanbol.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'RemyMartin';
  src: font-url('rmsanita.otf') format('opentype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Macallan';
  src: font-url('gotham-book.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Macallan';
  src: font-url('gotham-light.otf') format('opentype');
  font-weight: lighter;
  font-style: normal;
}

#remy-back-to-app {
  display: none;
  font-family: 'RemyMartin', serif;
  background: rgba(196, 175, 108, 1.0);
  color: rgba(104, 1, 15, 1.0);
  position: absolute;
  top: 0px;
  right: 0px;
  font-size: 28px;
  font-weight: bold;
  z-index: 10;
  padding: 25px 40px 20px 40px;
  border-radius: 5px;
  &:hover {
    background: rgba(164, 153, 99, 1.0);
  }
}
